@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #de1e3d;
  height: 85px;
  padding: 100px 0 0 20px;
  text-align: center;
}

header h1 {
  color: white;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

article {
  max-width: 980px;
  margin: 0 auto;
  padding: 30px 20px;
}

h1 {
  font-size: 45px;
  line-height: 1.4em;
  margin: 0;
  font-weight: normal;
}

h2 {
  font-size: 30px;
  line-height: 1.4em;
  margin: 0;  
}


h3 {
  margin: 30px 0 0 0;  
}