pre[class*="language-"] {
  border: 1px solid #ddd;
  font-size: .9em;
  border-radius: 3px;
  padding: 1em 1em .6em 1em;
  margin: .5em 0 1.5em 0; 
}

code[class*="language-"] {
  line-height: 19px;
}


code[class*="language-"],
pre[class*="language-"] {
  background: #f8f8f8;
  text-shadow: none;
  cursor: text;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: #f8f8f8;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  background: rgba(13, 188, 238, .2);
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	background: rgba(13, 188, 238, .2);
}