:focus { outline: none; }

a {
  color: #0073D5;
  text-decoration: none;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
       -o-transition: all .2s;
       	  transition: all .2s;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 10px 15px;
  background: #0dbcee/*#0073D5*/;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
       -o-transition: all .2s;
       	  transition: all .2s;
}

button:hover {
  background: #0058aa;
}

button:active {
  background: #00284d;
}

button.large {
  font-size: 15px;
}

.item {
  max-width: 550px;
}

h2.title {
  line-height: .9em;
  margin: 0 0 5px 0;
  width: 60%;
}

h2.title a {
  font-size: 0.7em;
  font-weight: bold;
  color: #222;
}

h2.title a:hover {
  color: #0dbcee;
  text-decoration: none;
}

.extra {
  color: #777;
}

.extra span {
  margin-left: 10px; 
}

.fa-headphones {
  margin-right: 5px;
}

.round .fa {
  font-size: 1.5em;
  line-height: 1.3em;
}

.round .fa-plus {
  margin-left: -2px;
}

button.round {
  margin: 10px 5px 10px 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.imageright {
  margin-top: 3px;
  margin-left: 12px;
  margin-bottom: 10px;
  float: right;
}

.small_image {
  width: 100px;
}