a {
  color: #0073D5;
  text-decoration: none;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
       -o-transition: all .2s;
       	  transition: all .2s;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 10px 15px;
  background: #0073D5;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
       -o-transition: all .2s;
       	  transition: all .2s;
}

button:hover {
  background: #0058aa;
}

button.large {
  font-size: 15px;
}

h3.title a {
  font-size: 1.1em;
  font-weight: bold;
  color: #222;
}

.extra {
  color: #777;
}

.extra span {
  margin-left: 10px; 
}

.fa-headphones {
  margin-right: 5px;
}

.fa-play {
  margin: 0 15px;
  font-size: 1em;
  line-height: 2.6em;
}

.listen {
  margin: 10px 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #0073D5;
  color: white;
  cursor: pointer;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
       -o-transition: all .2s;
       	  transition: all .2s;
}

.listen:hover {
  background: #0058aa; 
}