// TODO:
// 1. Create variables for each color
// 2. Make sure they're replaced throughout the code

$nypr-light: #F1F1F1;

$wnyc-red: #DE1E3D;
$wnyc-blue: #128cf4;
$wnyc-dark-red: #8d2131;
$wnyc-teal: #0EB8BA;
$wnyc-dark: #333333;

$wqxr-blue: #00aeff;
$wqxr-dark-blue: #1164b4;
$wqxr-dark: #000000;


// *************** global colors ***************

.nypr-light {
    color: $nypr-light;
}

.nypr-light.background {
    background-color: $nypr-light;
    color:inherit;
}

// *************** wnyc colors ***************

.wnyc-red {
    color: $wnyc-red;
}
.wnyc-red.background {
    background-color: $wnyc-red;
    color: inherit;
}

.wnyc-dark-red {
    color: $wnyc-dark-red;
}

.wnyc-dark-red.background {
    background-color: $wnyc-dark-red;
    color: white;
    font-weight: 600;
}

.wnyc-blue {
    color: $wnyc-blue;
}

.wnyc-blue.background {
    background-color: $wnyc-blue;
    color: white;
    font-weight: 600;
}

.wnyc-teal {
    color: $wnyc-teal;
}

.wnyc-teal.background {
    background-color: $wnyc-teal;
    color: inherit;
}

.wnyc-dark {
    color: $wnyc-dark;
}

.wnyc-dark.background {
    background-color: $wnyc-dark;
    color: inherit;
}

// *************** wqxr colors ***************

.wqxr-blue {
    color: $wqxr-blue;
}

.wqxr-blue.background {
    background-color: $wqxr-blue;
    color: white;
    font-weight: 600;
}

.wqxr-dark-blue {
    color: $wqxr-dark-blue;
}

.wqxr-dark-blue.background {
    background-color: $wqxr-dark-blue;
    color: white;
    font-weight: 600;
}

.wqxr-dark {
    color: $wqxr-dark;
}

.wqxr-dark.background {
    background-color: $wqxr-dark;
    color: white;
    font-weight: 600;
}


