.wnyc-red {
    color: #DE1E3D;
}
.wnyc-red.background {
    background-color: #DE1E3D;
    color: inherit;
}

.wnyc-red {
    color: #DE1E3D;
}
.wnyc-red.background {
    background-color: #DE1E3D;
    color: white;
}

.dark-red {
    color: #8d2131;
}

.dark-red.background {
    background-color: #8d2131;
    color: white;
    font-weight: 600;
}

.wnyc-blue {
    color: #128cf4;
}

.wnyc-blue.background {
    background-color: #128cf4;
    color: white;
    font-weight: 600;
}

.wqxr-blue {
    color: #00aeff;
}

.wqxr-blue.background {
    background-color: #00aeff;
    color: white;
    font-weight: 600;
}


.wqxr-dark-blue {
    color: #1164b4;
}

.wqxr-dark-blue.background {
    background-color: #1164b4;
    color: white;
    font-weight: 600;
}

.wqxr-black {
    color: #000;
}

.wqxr-black.background {
    background-color: #000;
    color: white;
    font-weight: 600;
}

.light-blue {
    color: #627FDD;
}
.light-blue.background {
    background-color: #627FDD;
    color:inherit;
}

.light {
    color: #F1F1F1;
}

.light.background {
    background-color: #F1F1F1;
    color:inherit;
}

.dark {
    color: #333333;
}

.dark.background {
    background-color: #333333;
    color: inherit;
}

.teal {
    color: #0EB8BA;
}

.teal.background {
    background-color: #0EB8BA;
    color: inherit;
}
