.mobile_only {display:block; }

.btn_nav {
    position:absolute;
    z-index:805;
    top:35px;
    right:20px;
    font-size:0.75rem;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:2px;
    color:white;
    cursor:pointer;
}
    #arrow_open, .btn_nav.active #arrow_close { display:inline; }
    #arrow_close, .btn_nav.active #arrow_open { display:none; }

nav {
    position:fixed;
    z-index:800;
    box-sizing:border-box;
    width:100%;
    height:90px;
    background-color:#dc2342;
}

    nav header {
        position:absolute;
        z-index:802;
        height:90px;
        width:100%;
        background-image:url('/assets/img/logo-wnyc-styleguide.svg');
        background-size:30% auto;
        background-position:7vw center;
        background-repeat:no-repeat;
        background-color:#dc2342;
    }
        nav header a {
            display:block;
            width:100%;
            height:100%;
            text-indent:-1000px;
            overflow:hidden;
        }
    
    nav > ul {
        display:block;
        position:absolute;
        z-index:801;
        width:100vw;
        height:calc(100vh - 90px);
        top:90px;
        overflow:scroll;
        margin:0;
        padding:0.75em 0;
        background-color:#201f27;
        font-weight:600;
        -webkit-transform:translateY(-105vh);
                transform:translateY(-105vh);
        -webkit-transition: -webkit-transform 0.25s ease-in-out;
                transition: -webkit-transform 0.25s ease-in-out;
    }
        nav > ul.active {
            -webkit-transform:translateY(0vh);
                    transform:translateY(0vh);
        }
        nav ul li {
            margin:0; 
            padding:0;
            list-style-type:none;
        }
            nav ul a {
                display:block;
                color:white;
                text-decoration:none;
                padding:4px 0 4px 20px;
                border-left:3px solid rgba(255,0,0,0);
            }
                nav ul a:hover {
                    background-color:#666;
                }
                nav ul a.active {
                    border-left:3px solid rgba(255,0,0,1);
                }
                
            nav > ul > li > a {
                padding:0.5em 0px 0.5em 20px;
                font-size:1.2rem;
            }
            
            nav > ul > li > ul {
                overflow:hidden;
                max-height:0px;
                -webkit-transition: max-height 0.25s ease-in-out;
                        transition: max-height 0.25s ease-in-out;
            }
            
                nav > ul > li > ul.expanded {
                    max-height:100vh;
                }
            
                nav > ul > li > ul > li {
                    font-size:0.9rem;
                }
                    nav > ul > li > ul > li > a {
                        padding:0.5em 0px 0.5em 30px;
                    }


@media only screen and (min-width:768px) {
    
    .mobile_only {display:none !important; }
    
    nav {
        top:0px;
        left:0px;
        width:200px;
        min-height:100vh;
    }
        nav header {
            position:relative;
            width:100%;
            height:120px;
            background-size:60% auto;
            background-position:center center;
        }
        nav > ul {
            width:100%;
            top:120px;
            margin:0;
            -webkit-transform:none;
                    transform:none;
            -webkit-transition:none;
                    transition:none;
        }

            nav > ul > li > a {
                font-size:1rem;
            }
                nav > ul > li > ul > li {
                    font-size:0.8rem;
                }
    
    article {
        width:calc(100vw - 200px);
        margin-left:165px;
        padding:75px 65px;
    }

}
